@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
:root{
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --Blk: #000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body{
font-family: 'Quicksand', sans-serif;
margin: 0;
}

.inactive {
    display: none;
}

.MenuDeploy{
display: none;
}

.logo{
width: 100px;
}
.navbar-left ul{
list-style: none;
padding: 0px;
margin-top: 14px;
margin: 0px;
display: flex;
align-items: center;
height: 60px;
}
.navbar-left{
display: flex;
margin-left: 12px;
}
.navbar-left ul{
margin-left: 12px;
}
nav{
display: flex;  
justify-content: space-between;
padding: 0 24px;
border-bottom: 1px solid var(--very-light-pink);

}
.navbar-left ul li a, .navbar-right .email-car li a{
text-decoration: none;
color: var(--Blk);
border: 1px solid var(--white);
padding: 8px;
border-radius: 8px;
}
.navbar-left ul li a:hover, .navbar-right ul li a:hover{
color: var(--hospital-green);
border: 1px solid var(--hospital-green);
}
.navbar-right .email-car{
    list-style: none;
padding: 0px;
margin: 0px;
display: flex;
align-items: center;
height: 60px;
}
nav .navbar-right .navbar-shopping-cart{
position: relative;
cursor: pointer;
}

.navbar-shopping-cart div{
position: absolute;
top: -4px;
right: -4px;
width: 14px;
height: 14px;
background-color: var(--hospital-green);
border-radius: 50%;
font-size: var(--sm);
font-weight: bold;
display: flex;
align-items: center;
justify-content: center;
}
.navbar-email{
color: var(--very-light-pink);
font-size: var(--sm);
margin-right: 12px;
cursor: pointer;
}
.navbar-email:hover{
    color: var(--hospital-green);
}
.desktop-menu{
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 0px 20px 0px 20px;
    position: absolute;
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: var(--white);
    top: 61px;
}
.desktop-menu ul{
    list-style: none;
    padding: 0px;
    margin-bottom: 0;
}
.desktop-menu ul li{
    text-align: end;
    
}
.desktop-menu ul li:not(:last-child){
    font-weight: bold;
}
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a {
    color: var(--Blk);
    font-size: var(--sm);
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
}
.mobile-menu{
    width: calc(100% - 48px);
    height: calc(100% - 110px);
    left: 0;
    background-color: white;
    padding: 24px;
    position: absolute;
    top: 61px;
}
.mobile-menu a{
    text-decoration: none;
    color: var(--Blk);
    font-weight: bold;
}
.mobile-menu ul{
    list-style: none;
    padding: 0px;
    margin: 24px 0 0;
}
.mobile-menu ul li{
    margin-bottom: 24px;
}
.mobile-menu .email{
    font-size: var(--sm);
    font-weight: 300;
}
.mobile-menu ul:nth-child(2){
    border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu .sign-out{
    color: var(--hospital-green);
    font-size: var(--sm);
}


.my-order{
    width: 100%;
    height: 100%;
}
.title{
    font-size: var(--lg);
   
}
.my-order-container .header{
    display: grid;
    grid-template-columns: auto 1fr ;
    column-gap: 15px;
    padding-left: 20px;
}
.my-order-container .header img{
    justify-self: start;
    align-self: center;
    padding-left: 8px;
}
.my-order-container .header img:nth-child(2){
    display: none;
}
.my-order-container{
    display: grid;
    grid-template-rows: auto auto;
    width: 360px;
    position: absolute;
    right: 10px;
    background-color: white;
   
}
.my-order-content{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 0px 15px;
    margin-top: 10px;
    gap: 20px;
}
.my-order-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 0 20px;
    background-color: var(--text-input-field);
    border-radius: 10px;
    font-weight: bold;
}
.shopping-cart{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.shopping-cart p:nth-child(2){
    flex-grow: 1;
    color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}
.shopping-cart figure img{
    width: 80px;
    height: 80px;
    border-radius: 15px;
    object-fit: cover;
}
.shopping-cart figure {
    margin: 0;
}
.shopping-cart>img{
    cursor: pointer;
}
.primary-button{
height: 55px;
background-color: var(--hospital-green);
border: 0px;
border-radius: 6px;
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
gap: 4px;
color: white;
font-weight: bold;
cursor: pointer;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    gap: 26px;
    place-content: center;
    margin: 20px 20px 0px 20px;
}
.product-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.product-img{
    width: 300px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
}
.icon__product figure img{
    width: 40px;
    height: 40px;
}
.icon__product figure{
   margin: 0;
}
.informacion p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 16px;
    margin-bottom: 4px;
}
.informacion p:nth-child(2){
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--very-light-pink);
}

.container{
    background-color: white;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
    width: 400px;
    margin-top: 1px;
    position: absolute;
    right: 0px;
    top: 80px;
    padding-left: 5px;
}
.container > img{
    width: 400px;
    height: 400px;
    border-radius: 12px;
    object-fit: cover;
    position: relative;
}
.container .background-img img{
    width: 14px;
    height: 15px;
    position: absolute;
    z-index: 4;
}
.container .background-img{
    width: 14px;
    height: 15px;
    position: absolute;
    z-index: 3;
    background-color: var(--white);
    padding: 10px;
    border-radius: 50%;
    top: 12px;
        left: 12px;
}
.container .background-img:hover{
    cursor: pointer;
}
.description{
    margin: 0px 34px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.price-product{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px 8px;
}
.price-product span:nth-child(1){
    font-weight: bold;
    margin-bottom: 2px;
}
.price-product span:nth-child(2) , .description > p:nth-child(2){
    color: var(--very-light-pink);
}
.description p:nth-child(2){
    padding: 0px 8px;
}

.container .description .primary-button{
    height: 55px;
    background-color: var(--hospital-green);
    border: 0px;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}


@media (max-width: 640px) {
    .MenuDeploy{
        display: block;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-email{
    display: none;
    }
    .desktop-menu{
        display: none;
    }
    .my-order-container .header img:nth-child(1){
        display: none;
    }
    .my-order-container .header img:nth-child(2){
        display: block;
        padding-left: 0px;
    }
    .my-order-container .header{
        column-gap: 0px;
        padding-left: 10px;
        justify-items: center;
    }
    .my-order-container{
        position: relative;
        margin: 0px;
        right: 0;
        left: 30px;
        width: 90%;
        
    }
    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill,150px);
    }
    
    .product-img{
        width: 150px;
        height: 150px;
    }
    .container {
        flex-direction: column;
        margin: 0px;
        margin-top: 30px;
        position: absolute;
        width: 100%;
        margin-bottom: 300px;
    }
    .description {
        margin-top: 30px;
    }
    .container > img{
        position: relative;
        width: 90%;
        margin-left: 20px;
    }
    .container .background-img{
        top: 12px;
        left: 30px;
    }

}

@media (min-width: 641px) {
    .mobile-menu{
        display: none;
    }
}

